*.rknn filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
weights/*.rknn filter=lfs diff=lfs merge=lfs -text
weights/*.rknn !text !filter !merge !diff
*.pt !text !filter !merge !diff
*.weights !text !filter !merge !diff
